ANTHROPIC_API_KEY=you_can_add_your_api_key_here_for_testing_purposes_i_just_left_it_blank_for_security_reasons
PORT=3000 I_am_using_this_for_local_development_you_can_change_it_to_any_port_you_want
ANTHROPIC_MODEL=claude-sonnet-4-20250514